
header img{margin-left:60px;}
body {
	background: url(images/bg-body.jpg) repeat center top;
        color: #2b0d05;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
#c{ border-radius:50px;  background-color:#2b0d05; text-align: center; font-family:Comic Sans MS; border:1px; margin-top:30px; margin-left:60px; margin-bottom:-50px; margin-right:60px; padding:20px; }
#r{ float:left; border-radius:10px;border-color:#003; width:300px; margin-top:100px; margin-left:100px;background-color:#EFE3D3; }
#l{ float:right; border-radius:10px; border-color:#003; width:300px; margin-top:100px; margin-right:100px;background-color:#EFE3D3;}
#l h1,#r h1{font-family:Aharoni}
#l font,#r font{
    text-align: left;
    font-family:cursive;
}
.register{
    display:block;
}
.login{
    display: block;
}
.button-style {
	display:inline-block;
	margin-top: 10px;
	padding: 7px 30px;
        color: white;
        text-decoration-style:solid;
	background: #2b0d05;
	border-radius: 7px;
}
.input-style{
    margin-top: 10px;
    margin-bottom:10px;
    padding: 7px 30px;
    display:inline-block;
    border-color: black;
    border-radius: 15px;
}
#footer img{
margin-top: 50px;
margin-bottom: -50px;
}
#footer p {
        margin-bottom: 20px;
	text-align: center;
	text-transform: lowercase;
}